.movie-image {
    width: 100%; 
    cursor: pointer;
    object-fit: cover;
    height: fit-content;
}

.imageContainer {
    border: 1px solid;
    padding: 20px;
    text-align: center;
    width: 220px;
}