.moviesContainer {
    display: flex;
    margin-top: 20px;
    border: 1px solid;
}

.cardBox {
    padding: 10px;
}

.cardChildBox {
    display: flex;
    gap: 10px;
    width: 100%;
    flex-wrap: wrap;
}



.star {
    font-size: 20px;
    padding: 0;
    margin: 0;
}

.checkbox input[type="checkbox"] {
    margin: 0;
    padding: 0;
}


.radioBox input[type="radio"] {
    margin: 0; 
    padding: 0; 
}

.radioBox p {
    margin: 0; 
    padding: 0; 
}
